@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsBold.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsBoldItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

